@import url("resource:///org/numixproject/gtk/dist/gtk.css");

.xfce4-panel.background{
    background-color: #f3e1f7;
}

#clock-button{
    background-color: #f3e1f7;
    border-style: outset;
    border: 7px solid transparent;
    border-image-repeat: round;
    border-image-slice: 7;
    border-image-source: url('./assets/task-button-border-inset.png');
}

#whiskermenu-button{

    background-color: #f3e1f7;
    border-style: outset;
    border: 7px solid transparent;
    border-image-repeat: round;
    border-image-slice: 7;
    border-image-source: url('./assets/task-button-border-outset.png');
}

#whiskermenu-button:checked{
    background-color: #f3e1f7;
    border-style: outset;
    border: 7px solid transparent;
    border-image-repeat: round;
    border-image-slice: 7;
    border-image-source: url('./assets/task-button-border-inset.png');
}

#whiskermenu-button:hover{
    background-color: #f3e1f7;
}

#whiskermenu-button label{
    color: #000000;
}
button{
    background-color: #f3e1f7;
    border-style: outset;
    border: 2px solid transparent;
    border-image-repeat: round;
    border-image-slice: 2;
    border-image-source: url('../assets/button-frame-outset.png');
    background-color: #f3e1f7;
}

button:checked{
    background-color: #f3e1f7;
    border-style: outset;
    border: 2px solid transparent;
    border-image-repeat: round;
    border-image-slice: 2;
    border-image-source: url('../assets/button-frame-inset.png');
    background-color: #f3e1f7;
}

button:active{
    background-color: #f3e1f7;
    border-style: outset;
    border: 2px solid transparent;
    border-image-repeat: round;
    border-image-slice: 2;
    border-image-source: url('../assets/button-frame-inset.png');
    background-color: #f3e1f7;
}

.tasklist button{

    
    background-color: #f3e1f7;
    border-style: outset;
    border: 7px solid transparent;
    border-image-repeat: round;
    border-image-slice: 7;
    border-image-source: url('./assets/task-button-border-outset.png');
    
}

.tasklist button:checked{

    background-color: #f3e1f7;
    border-style: outset;
    border: 7px solid transparent;
    border-image-repeat: round;
    border-image-slice: 7;
    border-image-source: url('./assets/task-button-border-inset.png');


}

#sn-button,#xfce4-notification-plugin,#xfce4-power-manager-plugin,#pulseaudio-button,#indicator-button{
    border: none;
}
.titlebar{
    background-color: #ead2ec;
    background-image: url('./assets/title-1-active.png');
    background-repeat: round;
}
.titlebar:backdrop{
    background-color: #e2e2e0;
    background-image: url('./assets/title-1-inactive.png');
    background-repeat: round;
}
.titlebar button.titlebutton.close{
    color: transparent;
    background-image: url('./assets/close-active.png');
}
.titlebar button.titlebutton.close:backdrop{
    color: transparent;
    background-image: url('./assets/close-inactive.png');
}
.titlebar button.titlebutton.close:hover{
    color: transparent;
    background-image: url('./assets/close-prelight.png');
}
.titlebar button.titlebutton.close:active{
    color: transparent;
    background-image: url('./assets/close-prelight.png');
}

.titlebar button.titlebutton.maximize{
    color: transparent;
    background-image: url('./assets/maximize-active.png');
}
.titlebar button.titlebutton.maximize:backdrop{
    color: transparent;
    background-image: url('./assets/maximize-inactive.png');
}
.titlebar button.titlebutton.maximize:hover{
    color: transparent;
    background-image: url('./assets/maximize-prelight.png');
}
.titlebar button.titlebutton.maximize:active{
    color: transparent;
    background-image: url('./assets/maximize-prelight.png');
}

.titlebar button.titlebutton.minimize{
    color: transparent;
    background-image: url('./assets/hide-active.png');
}
.titlebar button.titlebutton.minimize:backdrop{
    color: transparent;
    background-image: url('./assets/hide-inactive.png');
}
.titlebar button.titlebutton.minimize:hover{
    color: transparent;
    background-image: url('./assets/hide-prelight.png');
}
.titlebar button.titlebutton.minimize:active{
    color: transparent;
    background-image: url('./assets/hide-prelight.png');
}
